<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- Socket.IO 클라이언트 -->
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

		<title>정글 테트리스</title>
	</head>

	<body>
		<main class="flex flex-col items-center">
			<h1
				class="flex flex-col justify-center text-center text-green-400 font-bold text-8xl flex-shrink-0 pt-20"
				style="font-family: Inter"
			>
				정글 테트리스
			</h1>

			<section class="flex items-center gap-5 pt-10">
				<a
					href="{{ url_for('main.solo') }}"
					id="singleGameBtn"
					class="w-48 h-48 shrink-0 bg-green-400 hover:bg-green-600 transition-colors duration-200 rounded-2xl text-white font-bold text-3xl flex items-center justify-center"
					style="font-family: Inter"
				>
					혼자하기
				</a>
				<a
					href="{{ url_for('main.multi') }}"
					id="createRoomBtn"
					class="w-48 h-48 shrink-0 bg-green-400 hover:bg-green-600 transition-colors duration-200 rounded-2xl text-white font-bold text-3xl flex items-center justify-center"
					style="font-family: Inter"
				>
					방 생성
				</a>
				<button
					id="findRoomsBtn"
					class="w-48 h-48 shrink-0 bg-green-400 hover:bg-green-600 transition-colors duration-200 rounded-2xl text-white font-bold text-3xl"
					style="font-family: Inter"
				>
					방 찾기
				</button>
			</section>

			<footer class="flex items-center gap-5 pt-10">
				<button
					id="keyGuideBtn"
					class="shrink-0 bg-green-400 hover:bg-green-600 transition-colors duration-200 text-white text-center font-bold w-24 h-16 rounded-xl text-2xl"
					style="font-family: Inter"
				>
					키 설명
				</button>
				<a
					href="{{ url_for('main.ranking') }}"
					id="rankingBtn"
					class="shrink-0 bg-white text-green-400 text-center font-bold w-24 h-16 rounded-xl text-2xl border border-4 border-green-400 hover:border-green-600 hover:text-green-600 transition-colors duration-200 flex items-center justify-center"
					style="font-family: Inter"
				>
					랭킹
				</a>
			</footer>
		</main>
		<div id="modal" class="hidden">
			<div
				class="modal-bg fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
			>
				<div
					class="modal-container relative bg-white rounded-lg shadow-lg p-8 w-[681px] h-[621px] flex flex-col items-center justify-center"
				>
					<div id="modal-content"></div>
				</div>
			</div>
		</div>
		<script>
			function openModal(contentHTML) {
				const modal = document.getElementById("modal");
				const modalContent = document.getElementById("modal-content");
				const modalBg = document.querySelector(".modal-bg");

				modalContent.innerHTML = contentHTML;
				const closeBtn = document.getElementById("close-btn");
				modal.classList.remove("hidden");
				modalBg.addEventListener("click", (e) => {
					if (e.target === modalBg) modal.classList.add("hidden");
				});
				closeBtn.addEventListener("click", (e) => {
					if (e.target.closest("#close-btn")) modal.classList.add("hidden");
				});
			}

			document.getElementById("keyGuideBtn").addEventListener("click", () => {
				openModal(`
					<div class="flex flex-col gap-[70px]">
						<div class="text-[32px] font-bold text-green-500 flex gap-2 justify-center items-center">블록 이동 :
							<div class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">←</div>
							<div class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">↓</div>
							<div class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">→</div>
							<div class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">A </div>
							<div class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">S </div>
							<div class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">D </div>
						</div>
						<div class="text-[32px] font-bold text-green-500 text-center">아래로 한번에 이동 :
							<span class="text w-[45px] h-[45px] bg-gray-400 font-bold text-black px-5 py-1">SPACE BAR </span>
						</div>
						<div class="text-[32px] font-bold text-green-500 text-center flex justify-center items-center gap-2">블록 회전 :
							<span class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">↑</span>
							<span class="flex text w-[45px] h-[45px] bg-gray-400 font-bold text-black items-center justify-center">W </span>
						</div>
						<div id='close-btn' class="absolute top-5 right-5">
							<svg xmlns="http://www.w3.org/2000/svg" height="80px" viewBox="0 -960 960 960" width="80px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
						</div>
					</div>
				`);
			});

			document.getElementById("findRoomsBtn").addEventListener("click", () => {
				openModal(`
					<div class="flex flex-col gap-[108px] items-center">
						<div class="relative w-full">
							<input id="room-num" type="text" placeholder="" class="peer w-[517px] h-[106px] pl-[24px] border-[5px] border-gray-300 rounded-[20px] text-[36px] focus:outline-none focus:border-green-500" />
							<label for="room-num" class="absolute left-6 text-green-500 font-bold transition-all duration-200 leading-[48px] peer-placeholder-shown:top-8 peer-placeholder-shown:text-[48px] peer-focus:top-2 peer-focus:text-sm peer-focus:text-green-500">
								방 번호
							</label>
						</div>
						<button class="mt-[22px] w-[259px] h-[92px] py-3 bg-green-500 text-white text-[40px] font-bold rounded-[20px] hover:bg-green-600 transition" onclick="joinRoom()">
							입장 버튼
						</button>
						<div id='close-btn' class="absolute top-5 right-5">
							<svg xmlns="http://www.w3.org/2000/svg" height="80px" viewBox="0 -960 960 960" width="80px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
						</div>
					</div>
				`);
			});
			
			async function createRoom() {
				try {
					const res = await fetch('/api/rooms/create', {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
						'credentials': 'include'
					}
				})
				
				const data = await res.json();

				if(data.room_id) sessionStorage.setItem("room_id", data.room_id);

				} catch (err) {
					alert('방 생성 중 오류 발생: ' + err.message);
				}		
			}
			const createRoomBtn = document.getElementById("createRoomBtn");
			createRoomBtn.addEventListener('click',createRoom)

			

			function joinRoom() {
				const roomIdInputValue = document.getElementById('room-num').value;
				if(checkRoomId(roomIdInputValue)) {
					
					const socket = io('http://localhost:8000', {
						withCredentials: true
					});
					
					socket.on('connect', function() {
						console.log('메인화면 소켓 연결');
					})
					socket.emit('room:join', { room_id: roomIdInputValue })
					sessionStorage.setItem('room_id', roomIdInputValue)
					window.location.href = 'multi.html'
				} else alert('방 찾기 실패!')
			}

			async function checkRoomId(roomId) {
				try {
					const res = await fetch('/api/rooms/join', {
						method: "POST",
						headers: {
							'Content-Type': 'application/json',
							'credentials': 'include'
						},
						body: JSON.stringify({ room_id: roomId })
					})
				
					const data = await res.json();

					console.log(data)

					return true

					} catch (err) {
						alert('방 참가 중 오류 발생: ' + err.message);
						return false
				}		
			}
		</script>
	</body>
</html>
