<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- Socket.IO 클라이언트 -->
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

		<title>정글 테트리스 - 솔로 모드</title>
	</head>

	<body></body>
</html>
